* {
  margin: 0%;
  padding: 0%;
  border: solid black 1px;
  font-family: Georgia, 'Times New Roman', Times, serif
}
section:first-of-type{
    width: 100%;
border-radius: 0px;

}


section {
  padding: 3%;
  width: 60%;
border-radius: 15px;
justify-self:center ;}

h1 {
  font-size: 64px;
}

p {
  font-size: 18px;
}

input {
  font-size: 16px;
  clear: both;
  display: block;
  padding: 0.2%;
  border-radius: 20px;
  margin-top: 0.25%;
  width: 20%;
  padding-left: 0.75%;
}

input[type=submit] {
  border-radius: 0px;
  margin-top: 0.5%;
  width: 7.5%;
  padding: 0.75%;
  border-radius: 10px;

}